doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title DogWorld 
        link(rel='stylesheet' href='css/style.css')
        link(rel='shortcut icon' type='image/png' href='img/favicon.png')

    body
        //- header.header *make sure to indent below if uncommenting
        
        include _header
        block content
            h1 this is a placeholder
        include _footer

        //- script (src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.5/axios.min.js')

