extends base

block content
    header.header
        div.dogList
            form
            select#breeds.list
                each item in myArray 
                    option.options(value=item)= item 
    script(src='/js/addBreed.js')
            

    
    