extends base

block content
    form
    select#breeds
        each item in myArray 
            option(value=item)= item 
    each breed in breeds
        p #{breed.breed} #{breed.count}
    script(src='/js/addBreed.js')
            

    
    