extends base 

block content 
    h1 this page is under construction 
        p this page will be where logged in users can view their voting history
    <a href="/"><img id='img4' src='/img/dog_house.png' onmouseover="this.src='/img/dog_in_the_house.png';" onmouseout="this.src='/img/dog_house.png';" />