* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #bbbbbb;
  overflow: hidden;
}
/* btn */
.btn {
  background-color: transparent;
  border: none;
}
/* vote page header */
.votePageHeader {
  position: absolute;
  width: 10%;
  left: 100%;
  top: 0;
  /* overflow-x: hidden; */
}

/* image */
.image-container {
  display: flex; /* use flexbox layout */
  justify-content: center; /* horizontally center the child element */
  align-items: center; /* vertically center the child element */
  height: 100vh; /* set the container height to the full viewport height */
  width: 80vw;
  background-color: rgb(135, 222, 239);

  /* right container */
}
.image {
  margin: auto; /* center the object horizontally within the container */
  /* other styles for the object */
}
#img1 {
  max-width: 100%; /* make the image fit the container width */
  max-height: 100%; /* make the image fit the container height */
  display: block; /* remove any default margins and paddings */
}
#img2 {
  max-width: 100%; /* make the image fit the container width */
  max-height: 100%; /* make the image fit the container height */
  display: block; /* remove any default margins and paddings */
  transform: scale(0.6);
}
#img3 {
  max-width: 100%; /* make the image fit the container width */
  max-height: 100%; /* make the image fit the container height */
  display: block; /* remove any default margins and paddings */
  transform: translate(+7px, 0px) scale(0.65);
}
#img4 {
  max-width: 100%; /* make the image fit the container width */
  max-height: 100%; /* make the image fit the container height */
  display: block; /* remove any default margins and paddings */
  transform: translate(+5px, 0px) scale(0.9);
}
/* other */
.right-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 20vw;
  height: 100vh;
  background-color: #643736; /* just an example color */
  justify-content: center; /* horizontally center the child element */
  align-items: center; /* vertically center the child element */
}

.box {
  flex: 1; /* make each box fill the available space equally */
}

/* text */
.text1 {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-63%, -50%);
  color: white;
  text-align: center;
  width: 100%;
}

/* overview */
.dogList {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.list {
  padding: 12px 16px;
  color: #333333;
  border: 4px solid #bbbbbb;
  background-color: #dddddd;

  cursor: pointer;
  border-radius: 5px;
}
.list:focus,
.list:hover {
  outline: none;
  background-color: #eeeeee;
  border: 4px solid #dddddd;
}
.header {
  height: 100vh;
  background-image: url(../img/greek.jpeg);
  background-size: cover;
}
.options {
  background: #f10c0c;
}
